# Grafana
GRAFANA_PASSWORD=changeme
GRAFANA_URL=http://localhost:3000

# InfluxDB (ekstern server)
INFLUXDB_URL=http://YOUR_INFLUXDB_HOST:8086
INFLUXDB_USER=smokeping
INFLUXDB_PASSWORD=changeme
INFLUXDB_DB=smokeping

# Varsler
ALERT_EMAIL=alerts@dittselskap.no
